# Environment files (keep templates)
.env.local
.env.prod
.env.zrok
.env.base

# Build outputs
dist/
build/
web-build/
target/
*.jar
*.war

# Dependencies
node_modules/
vendor/
__pycache__/
*.pyc
.venv/
venv/

# Docker
.docker/

# IDE
.idea/
.vscode/
*.swp
*.swo
.qoder/
db/
minio/
*.zip

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Cache
.cache/
tmp/
temp/

# Coverage
coverage/

# Misc
*.pem
*.key


jaeger_data/
prometheus_data/
grafana_data/
redis_data/
caddy_data/
caddy_config/
otel-collector_data/
metabase_data/
doc/
docs/