# Environment files (keep templates)
.env
# Build outputs
dist/
build/
web-build/
target/
*.jar
*.war

# Dependencies
node_modules/
vendor/
__pycache__/
*.pyc
.venv/
venv/

# Docker
.docker/

# IDE
.idea/
.vscode/
*.swp
*.swo
.qoder/
db/
minio/
*.zip

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Cache
.cache/
tmp/
temp/

# Coverage
coverage/

# Misc
*.pem
*.key


jaeger_data/
prometheus_data/
grafana_data/
redis_data/
caddy_data/
caddy_config/
otel-collector_data/
metabase_data/
doc/
docs/


app.js
text.txt
# Ignorar carpeta de binarios
.terraform/

# Ignorar archivos de estado local (si no usas backend remoto)
*.tfstate
*.tfstate.*

# Ignorar variables y secretos
*.tfvars
*.tfvars.json
.env
backend.conf
*.pem
